// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  background-color: #AFF;
  color: #FAA;
}

.list {
  color: #AFA;
}
